@media screen and (min-width: 40em) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }

    nav ul {
        display: flex;
    }

    nav li {
        flex: 1;
    }

    header a {
        border-left: 1px solid #999;
    }
}

@media screen and (min-width: 70em) {
   

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    header a{
        border: none;
    }
    
    main {
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 20px;
        
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }
}